#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo.neutralinojs:hover {
  filter: drop-shadow(0 0 2em #ff9900aa);
}

html {
  background-color: #333;
}

.App {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 600px;
  transition: background-color 0.5s ease;
  background-color: #87ceeb;
  border: 1px solid #000;
}

.game-over {
  background-color: #ff6347;
}

.game-over-message {
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.bird {
  user-select: none;
  position: absolute;
  width: 50px;
  height: 50px;
}

.pipe {
  position: absolute;
  width: 100px;
  height: 600px;
}
