html {
  background-color: #333;
}

.App {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 600px;
  transition: background-color 0.5s ease;
  background-color: #87ceeb;
  border: 1px solid #000;
}

.game-over {
  background-color: #ff6347;
}

.game-over-message {
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.bird {
  user-select: none;
  position: absolute;
  width: 50px;
  height: 50px;
}

.pipe {
  position: absolute;
  width: 100px;
  height: 600px;
}

.absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes star-animation {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes void-animation {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%;
  }
}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
